<title>Zay Shop - Product Listing Page</title>
<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h2 pb-4">Categories</h1>
            <ul class="list-unstyled templatemo-accordion">
                <div class="pb-3">
                    <a class="pb-3 h3 text-decoration-none" href="/shop?category=all">
                        All
                    </a>
                </div>

                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Shirts
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li>
                            <a class="text-decoration-none" href="/shop?category=shirts_men">Men</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="/shop?category=shirts_women">Women</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="/shop?category=shirts_others">Others</a>
                        </li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Shoes
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li>
                            <a class="text-decoration-none" href="/shop?category=shoes_men">Men</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="/shop?category=shoes_women">Women</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="/shop?category=shoes_others">Others</a>
                        </li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Accessories
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li>
                            <a class="text-decoration-none" href="/shop?category=accessories_hats">Hats</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="/shop?category=accessories_gloves">Gloves</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="shop?category=accessories_watches">Watches</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <form name="sort-product-form" method="GET" action="/shop">
                <div class="row">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <h2 class="text-dark text-decoration-none mr-3" href="#">{{category_name}}</h2>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-7 mt-1 ml-2">
                        <div class="row">
                            <label class="col-md-3 text-md-center">
                                <strong>Price (₫) From:</strong>
                            </label>

                            <input class="col-md-3 min-price-option" type="number" name="minPrice" value="" min="0">

                            <label class="col-md-1">
                                <strong>To</strong>
                            </label>

                            <input class="col-md-3 max-price-option" type="number" name="maxPrice" value="" min="0">

                            <label class="col-md text-md-end">
                                <strong>Sort By:</strong>
                            </label>
                        </div>
                    </div>


                    <div class="col-md-2 pb-4">
                        <div class="d-flex">
                            <select class="form-control sort-by-options" name="sortBy">
                                <option value="name">Product Name</option>
                                <option value="price">Price</option>
                                <option value="createdAt">Released Date</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 pb-4">
                        <div class="d-flex">
                            <select class="form-control sort-type-options" name="sortType">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="category" value={{category}}></input>
                    <input id="input-page-link" type="hidden" name="page" value="{{currentPage}}"></input>
                    <div class="col-md">
                        <button type="submit"
                            class="btn btn-primary btn-sm sort-products-submit-btn pb-1 mt-1">Sort</button>
                    </div>
                </div>
            </form>
            <div class="row">
                {{#each products}}
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="{{this.thumbnail}}" />
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="btn btn-success text-white" href="#"><i class="far fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-success text-white mt-2" href="/shop/{{this._id}}"><i
                                                class="far fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <form id="addToCartForm{{this._id}}"
                                            action="/shop/add-to-cart/{{this._id}}?_method=PUT" method="POST">
                                            <a class="btn btn-success text-white mt-2" href="javascript:{}"
                                                onclick="document.getElementById('addToCartForm{{this._id}}').submit();">
                                                <i class="fas fa-cart-plus"></i></a>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/shop/{{this._id}}" class="h3 text-decoration-none">{{this.name}}</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                {{!-- <li>M/L/X/XL</li> --}}
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            <p class="text-center mb-0">{{this.price}}₫</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="row">
                <ul class="pagination pagination-lg justify-content-end">
                    {{{paginate totalPages currentPage}}}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->

{{> brands}}


<div hidden="true" id="previous-sort-stored" sortBy={{_sort.sortBy}} sortType={{_sort.sortType}}
    minPrice={{_sort.minPrice}} maxPrice={{_sort.maxPrice}}></div>

<script>
    var sortProductForm;
    var sortByOptions;
    var sortTypeOptions;
    var minPriceOption;
    var maxPriceOption;
    var sortProductsSubmitBtn;
    var previousSortStored;
    var pageInput;
    document.addEventListener('DOMContentLoaded', function () {
        sortProductForm = $('form[name="sort-product-form"]');
        sortByOptions = $('select.sort-by-options');
        sortTypeOptions = $('select.sort-type-options');
        minPriceOption = $('input.min-price-option');
        maxPriceOption = $('input.max-price-option');
        sortProductsSubmitBtn = $('.sort-products-submit-btn');
        previousSortStored = document.getElementById('previous-sort-stored');
        pageInput = document.getElementById('input-page-link');

        sortByOptions.val(previousSortStored.getAttribute("sortBy")).change();
        sortTypeOptions.val(previousSortStored.getAttribute("sortType")).change();
        minPriceOption.val(previousSortStored.getAttribute("minPrice")).change();
        maxPriceOption.val(previousSortStored.getAttribute("maxPrice")).change();
    });

    function inputPageForForm(page) {
        pageInput.value = page;
        sortProductForm.submit();
    }
</script>