<div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">All - {{totalItems}} item(s)</h5>
                </div>
                <div class="card-body">
                    {{#each items}}
                    <!-- Single item -->
                    <div class="row">
                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <!-- Image -->
                            <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">

                                <a href="/shop/{{this.product._id}}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)">
                                        <img src="{{this.product.thumbnail}}" class="w-100"
                                            alt="{{this.product.name}}" />
                                    </div>
                                </a>
                            </div>
                            <!-- Image -->
                        </div>

                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                            <!-- Data -->
                            <p><strong>{{this.product.name}}</strong></p>


                            <!-- Data -->
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 align-self-center">
                            <!-- Price -->
                            <p class="text-start text-md-center">
                                <strong>Price per product: {{this.product.price}}₫</strong>
                            </p>
                            <!-- Price -->

                            <!-- Quantity -->
                            <p class="text-start text-md-center">
                                <strong>Quantity: {{this.quantity}}</strong>
                            </p>
                            <p class="text-start text-md-center">
                                <strong>Total: {{this.price}}₫</strong>
                            </p>
                            <!-- Quantity -->
                        </div>
                    </div>
                    <!-- Single item -->

                    <hr class="my-4" />
                    {{/each}}
                </div>
                <div class="card-header py-3">
                    <h1>Shipping</h1>
                    <p>Please enter your shipping details.</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span for="firstName">First name <br></span>
                            <input type="text" name="firstName" value="{{user.firstName}}" required="true" />
                        </div>
                        <div class="col">
                            <span for="lastName">Last name <br></span>
                            <input type="text" name="lastName" value="{{user.lastName}}" required="true" />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <span for="address">Address <br></span>
                            <textarea name="address" style="width: 100%" required="true"></textarea>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <span for="country">Country <br></span>
                            <select name="country" class="py-1" required="true">
                                <option value="Viet Nam">Viet Nam</option>
                            </select>
                        </div>
                        <div class="col">
                            <span for="city">City <br></span>
                            <input type="text" name="city" required="true" />
                        </div>
                        <div class="col">
                            <span for="zipCode">Zip code <br></span>
                            <input type="number" name="zipCode" min="0" required="true" />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <span for="paymentMethod">Payment method <br></span>
                            <select name="paymentMethod" class="py-1" required="true">
                                <option value="pay when delivered">Pay when delivered</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Summary</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Items
                            <span>{{totalPrice}}₫</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping
                            <span>{{shippingPrice}}₫</span>
                        </li>
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Total amount</strong>
                                <strong>
                                    <p class="mb-0">(including VAT)</p>
                                </strong>
                            </div>
                            <span><strong>{{totalPrice}}₫</strong></span>
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-danger btn-lg btn-block">
                        Confirm Payment
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="order-detail-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Details</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showOrderModal(e) {
        let modal = $('#order-detail-modal');
        let orderIndex = e.getAttribute('index');
        //let orders = JSON.parse({{{ ordersJSON }}});
        //console.log(orders);
        let html;
        modal.find('div.modal-body').html({{{ ordersJSON }}}[orderIndex].totalPrice + "   alo");
    modal.modal('show');
    }
</script>